<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Title</title>
</head>
<Style>
    body{
        background-color: #ffe0b2 ;
    }
</Style>
<body>

<div class="header">
    <h1 class="Logo"><img src="/logo.png"></h1>
</div>

<div class="index">

    <a href="/employee/loginEmployee" class="waves-effect waves-light btn" style="background-color: #b29559"> EMPLOYEE</a>
    <a href="/manager/loginManager" class="waves-effect waves-light btn" style="background-color: #b29559"> MANAGER</a>

</div>
</body>
</html>